@model Laboratory_Schedule.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requests</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalResidenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalResidenceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFileNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalFileNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
