@model Laboratory_Schedule.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row bg-light">
<div class="row bg-info my-3 mx-2 rounded ">
    <h5 class=" text-light text-center">Student Details </h5>
</div>


<form asp-action="Details" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--first row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="NationalResidenceId" class="control-label"></label>
                <input asp-for="NationalResidenceId" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="UniversityNumber" class="control-label"></label>
                <input asp-for="UniversityNumber" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="StudentStatus" class="control-label">Student Status</label>
                <option class="form-control" readonly>@Html.DisplayFor(model => model.StudentStatus)</option>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Collage" class="control-label">College</label>
                <option class="form-control" readonly>@Html.DisplayFor(model => model.Collage)</option>
            </div>
        </div>
    </div>

    <!--second row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="FirstNameEng" class="control-label"></label>
                <input asp-for="FirstNameEng" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FatherNameEng" class="control-label"></label>
                <input asp-for="FatherNameEng" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GrandFatherNameEng" class="control-label"></label>
                <input asp-for="GrandFatherNameEng" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FamilyNameEng" class="control-label"></label>
                <input asp-for="FamilyNameEng" class="form-control" readonly />
            </div>
        </div>
    </div>
    <!--3ed row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="FirstNameArb" class="control-label"></label>
                <input asp-for="FirstNameArb" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FatherNameArb" class="control-label"></label>
                <input asp-for="FatherNameArb" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GrandFatherNameArb" class="control-label"></label>
                <input asp-for="GrandFatherNameArb" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FamilyNameArb" class="control-label"></label>
                <input asp-for="FamilyNameArb" class="form-control"  readonly />
            </div>
        </div>
    </div>
    <!--4th row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"  readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" type="date" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="MedicalFileNO" class="control-label"></label>
                <input asp-for="MedicalFileNO"  class="form-control" readonly />
            </div>
        </div>
    </div>
    <!--5th row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="NationalResidenceIdName" class="control-label">National/Residence Id</label>
                <img src="~/UploadedFiles/@Model.NationalResidenceIdName" width="400"/>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="StudentIdName" class="control-label">Student Id</label>
                <img src="~/UploadedFiles/@Model.StudentIdName" width="400" />
            </div>
        </div>
        <b class="text-danger">
            * In case the Student Id is not available, please attach a copy of Qassim
            University student file.
        </b>


    </div>
    <hr />
    <!--6th row-->
    <div class="row">
        <b class="text-info">Kindly select a sutable date and time for needed test.</b>
        <div class="col-3">
            <div class="form-group">
                <option class="form-control" readonly> @Html.DisplayFor(model => model.TestDate)</option>
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input mx-1" type="checkbox" name="confirmation" checked>
                I declare that the above-mentioned data is accurate and filled out by me pesonally.
            </label>
        </div>
    </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
</form>
</div>



@*<div>
    <h4>Requests</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalResidenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalResidenceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameArb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameArb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFileNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalFileNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
*@