@model IEnumerable<Laboratory_Schedule.Models.Request>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<div class="row bg-light">

    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-info text-light">Create New</a>
    </p>
    <div class="row mt-3">
        <div class="col-2">
            <select class="form-select float-start">
                <option>Language</option>
                <option value="1">English </option>
                <option value="2">Arabic </option>
            </select>
        </div>
            <div class="col-2">
                <div class="form-group">
                    @if(User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-controller="Mangements" class="btn btn-info text-light">System Config</a>    
                }
                </div>
            </div>
        
    </div>
    <div class="row bg-info my-3 mx-2 rounded ">
        <h5 class=" text-light text-center">Request List</h5>
    </div>
    <form method ="get" asp-action="index">
    <div class="row border border-1 rounded mx-auto">            
            <div class="col-auto my-2">
                    <select name="searchBy" class="form-select">
                    <option></option>
                    <option>Collage</option>
                    <option>Student Status</option>
                </select>
                
              </div>
           

            <div class="col-auto my-2">
                <input type="search" name="searchString" class="form-control" placeholder="search">
             </div> 
            <div class="col-auto my-2">
                <input type="submit" value="Search" class="btn btn-info text-light" />
               </div>
              
            <div class="col-auto my-2">
                <a class="btn btn-info text-light float-end" asp-action="ExportRequestsExal">Extract</a>
            </div>
            <div class="col-auto my-3">
                <b class="text-danger">Extract all or as per search results</b>
            </div>
           
            
      </div>
        </form>
    


<table class="table">
    <thead class="table-light">
        <tr>
               <th>
                    Request No 
               </th>
               <th>
                    Student Name 
               <th>
                    National/Residence Id  
              </th>
              <th>
                    UniversityNumber 
              </th>
              <th>
                    Student Status 
              </th>
                <th>
                    Collage
                </th>
              <th>
                    Request Submisson Date 
              </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Id)
               </td>
            <td>
            @Html.DisplayFor(modelItem => item.FirstNameEng) @Html.DisplayFor(modelItem => item.FatherNameEng)@Html.DisplayFor(modelItem => item.GrandFatherNameEng) @Html.DisplayFor(modelItem => item.FamilyNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalResidenceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityNumber)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatus)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Collage)
             </td>

            <td>
                @Html.DisplayFor(modelItem => item.TestDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-light">Details</a>
             </td>
        </tr>
}
    </tbody>
</table>
</div>
